@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --darkGray: #333333;
    --duhWhite: #ffffff;
    --neonGreen: #33ff77;
    --neonRed: #e61728;
}
@media (prefers-color-scheme: light){
    body { background-color: var(--duhWhite); }
    h2 {color: var(--neonRed); }
    p { color: var(--darkGray); }
    a { color: var(--neonRed); }
    #heart { color: var(--neonRed) }
}
@media (prefers-color-scheme: dark){
    body { background-color: var(--darkGray); }
    h2 { color: var(--neonGreen); }
    p { color: var(--duhWhite); }
    a { color: var(--neonGreen); }
    #heart { color: var(--neonGreen) }
}

.center {
    text-align: center;
    margin: auto;
}

body {
    font-family: 'IBM Plex Mono';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 25rem;

    margin-left: 1rem;
    margin-right: 1rem;
}

p {
    margin-block-start: 0;

    font-size: 1rem;
    line-height: 1.4rem;
    margin-block-end: 1rem;
}

h2 {
    font-weight: 900;

    font-size: 2rem;
    margin-block-start: 2rem;
    margin-block-end: 1rem;
}

a {
    text-decoration: underline;

    text-underline-offset: .12rem;
}

#lastLine {
    margin-bottom: 4rem;
}

#colofon {
    margin-top: auto;

    font-size: .8rem;
    margin-bottom: 1rem;
}

/* -------------------- */

a:hover {
    font-weight: 900;
}
.italic {
    font-style: italic;
}

@media (min-width: 450px) {
    body {
        margin-left: 10vw;
        margin-right: 5vw;
        max-width: 28rem;
    }

    p {
       font-size: 1.2rem;
       line-height: 1.8rem;
       margin-block-end: 1.2rem;
    }

    h2 {
        font-size: 2.2rem;
        margin-block-start: 4rem;
        margin-block-end: 1.1rem;
    }

    a {
        text-underline-offset: .18rem;
    }

    #lastLine {
       margin-bottom: 8rem;
    }

    #colofon {
        font-size: .9rem;
        margin-block-end: 2rem;
    }

}

@media (min-width: 1024px) {
    body {
        margin-left: 12vw;
        max-width: 32rem;

    }

    p {
       font-size: 1.4rem;
       line-height: 2rem;
       margin-block-end: 1.4rem;
    }

    h2 {
        font-size: 2.4rem;
        margin-block-start: 6rem;
        margin-block-end: 1.2rem;
    }

    a {
        text-underline-offset: .2rem;
    }

    #lastLine {
       margin-bottom: 12rem;
    }

    #colofon {
        font-size: 1rem;
        margin-block-end: 3rem;
    }

}