:root {
    --divider: 30%;
    --accent: #FF0031;
}

@font-face {
    font-family: 'MF Senza Text Regular';
    src: url('MFSenzaText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MF Senza Text Bold';
    src: url('MFSenzaText-Bold.ttf') format('truetype');
}

body {
    font-family: 'MF Senza Text Regular', monospace;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 1em;
    width: 100%; 
    display: flex;
    justify-content: center;
    gap: 1em;
    z-index: 1000;
}

.nav-button {
    background-color: #000000;
    color: #FFFFFF;
    padding: .35em .7em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'MF Senza Text Bold', monospace;
    font-size: 1em;
}

.left {
    width: calc(var(--divider));
}

.container {
    display: flex;
    overflow: hidden;
}

.intro-text {
    margin-top: 30vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1.3em;
    line-height: 1.3;
}

a {
    color: #000000;
    text-decoration: none;
    font-family: 'MF Senza Text Bold', monospace;
}

a:hover  {
    color: var(--accent);
}

.nav-button:hover {
    color: white;
    background-color: var(--accent);;
}

#bigLogo {
    width: 6em;
    height: 6em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 4em;
    background: url('favicon.svg') no-repeat center center;
    background-size: contain;
}

.right {
    width: calc(100% - var(--divider));
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.svg-container {
    margin: 0;
    display: none;
    width: 100%;
}

.bigass, .header {
    margin: auto;
    max-width: 1200px;
}

#first, .bigass {
    margin-top: 2.5em;
}

footer {
    margin: auto;
    max-width: 40em;
    padding: 0 2em 2em 2em;
}

@media (max-width: 1200px) {          

    .container {
        flex-direction: column;
        width: 100%;
    }

    .left {
        width: 100%;
    }

    .right {
        order: -1;
        width: 100%;
        margin-top: 4em;
    }            

    .svg-container {
        height: auto;
    }

    .intro-text {
        color: #000000;
        font-size: 1.1em;
        margin: auto;
        max-width: 700px;
        padding: 0 2em 2em 2em;
    }

    .bigass {
        margin-top: 4em;
    }
}