@font-face {
    font-family: 'MF Norma Text_Regular';
    src:  url('/Users/faebiou/Documents/M59/MF_Norma/Web/MFNormaText-Regular_otf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
