@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: "Normavaganza";
    src: url(assets/Normavaganza_VF-VF-styl0.0.ttf);
}

@font-face {
    font-family: "Normavaganza Italic";
    src: url(assets/Normavaganza_VF-VF-styl1.0.ttf);
}

@font-face {
    font-family: "Normavaganza Extra";
    src: url(assets/Normavaganza_VF-VF-styl2.0.ttf);
}

@font-face {
    font-family: "MF Senza";
    src: url(assets/MFSenzaText-Regular.otf);
}

:root {
/*    --darkGray: #333333;
    --duhWhite: #ffffff;
    --neonGreen: #33ff77;
    --neonRed: #e61728;
*/    
    --darkGray: #333333;
    --duhWhite: #ffffff;
    --neonGreen: #ffffff;
    --neonRed: #333333;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Normavaganza', sans-serif;
    font-weight: 400;
    min-height: 100vh;

    overflow-x: scroll;
}

.wrap {
    display: flex;
    flex-direction: column;
    margin: 0 1em 0 1em;
/*    padding-top: 2em;*/
    padding-top: 1em;
}

h2 {
    font-weight: 700;
    font-size: 2em;
}

p {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-block-end: .8em;
}

a {
/*    text-decoration: underline;
    text-underline-offset: .12em; */
    text-decoration: none;
    font-weight: 700;    
}

.italic { 
    font-style: italic;
}

nav {
    background-color: #EEEEEE;
    text-transform: uppercase;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

nav li {
    font-family: "MF Senza", sans-serif;
    letter-spacing: .05em;
    text-align: center;
    height: 4em;
}

nav a {
    height: 100%;
    padding: 0 1em;
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    z-index: 999;
    background-color: #EEEEEE;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.header {
    margin: auto;
    padding: auto 1em auto 1em;
    max-width: 1200px;
}

#colofon {
    margin-top: auto;
    margin-right: auto;

    font-size: .9em;
    line-height: 130%;
    margin-block-end: 5em;
}

.bigass {
    margin: auto;
    max-width: 1200px;
}

#first {
    margin-top: .4em;
}

.svgImg {
    margin-top: .2em;
    margin-bottom: .2em;
}